<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일기 알람</title>
    <style></style>
</head>
<body>
    <h1>일기 알람</h1>
    <% result.map(function(alarm) { %>
        <section>
            <div><p>전송자: <%= alarm.송신자_이름 %></p><div>
            <div><p>도착 일시: <%= alarm.수신일시 %></p></div>
            <a href="/diaryAlarm/<%= alarm.교환기록_번호 %>">OPEN<a>
        <section>
    <% }); %>
</body>
</html>