<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알람 페이지</title>
</head>
<body>
    <% result.forEach(function(page) { %>
        <h1><%= page.작성자_이름 %>와/과의 일기 페이지</h1>
        <p>작성자 유형: <%= page.교환유형 %></p>
        <p><%= page.일기_송신일 %></p>
        <div>
            <%= page.일기_내용 %>
        </div>
    <% }); %>
</body>
</html>