<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알람 페이지</title>
</head>
<body>
    <% result.forEach(function(page) { %>
        <h1>교환기록 번호 <%= page.작성자_번호 %>번과의 일기 페이지</h1>
        <ul>
            <li>해당 교환 유형: <%= page.교환유형 %></li>
            <li>해당 일기 수신일: <%= page.일기_송신일 %></li>
        </ul>
        <br>
        <div>
            <%= page.일기_내용 %>
        </div>
    <% }); %>
</body>
</html>