<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알람 페이지</title>
    <style>
        @font-face {
        font-family: 'KOTRAHOPE';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    body {
      font-family: Arial, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      background-color: #fac4cf;
    }
    .btn {
        display: inline-block;
        margin: 10px 10px;
        padding: 10px 20px;
        font-size: 1rem;
        color: #e97da4;
        background-color: #ffffff;
        border: none;
        border-radius: 25px;
        cursor: pointer;

        transition: background-color 0.5s ease;
    }

    .btn:hover {
        background-color: #e97da4; /* 호버 시 배경색 변경 */
        color: white;
    }

    .logo {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 200px;
            height: auto;
            z-index: 999;
        }

        header {
            position: absolute;
            top: 0;
            left: 0;
            width: 90%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            z-index: 999;
        }
        .diary-container {
          display: flex; /* Flex 컨테이너로 설정 */
          flex-direction: column; /* 요소들을 세로로 정렬 */
          align-items: flex-start;
          position: relative;
          width: 700px; /* 가장 큰 사각형의 너비 */
          height: 500px; /* 모든 사각형의 높이 */
          background-color: rgb(255, 255, 255);
          border-radius: 40px;
          padding: 30px; /* 내부 여백 */
          box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
          overflow: auto;
          font-family: KOTRAHOPE, sans-serif;
        }
        p {
            color: #e97da4;
        }
        .divider {
            height: 2px; /* 선의 두께 */
            width: 640px;
            background-color: #ccc; /* 선의 색상 */
            margin: 20px 0; /* 위아래 마진 추가 */
        }
    </style>
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="로고" onclick="navigateToMain()" class="logo">
        <script>
            function navigateToMain() {
                window.location.href = "/";
            }
        </script>
        
        <button class="btn" onclick="navigateToMain()">홈</button>
        <script>
            function navigateToMain() {
                window.location.href = "/";
            }
        </script>
         <button class="btn" onclick="navigateToLogout()">로그아웃</button>
         <script>
             function navigateToLogout() {
                 window.location.href = "/login/logout";
             }
         </script>
          <button class="btn" onclick="navigateToMyPage()">마이페이지</button>
          <script>
              function navigateToMyPage() {
                  window.location.href = "/mypage";
              }
          </script>
    </header>
    <div class="diary-container">
        <% result.forEach(function(page) { %>
            <h1><%= page.작성자_이름 %>님께서 일기를 발송했어요.</h1>
            <p><%= page.일기_송신일 %></p>
            <div>
                <%= page.일기_내용 %>
            </div>
        <% }); %>


    </div>
    
</body>
</html>