<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fac4cf;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .logo {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 200px;
            height: auto;
            z-index: 999;
        }

        header {
            position: absolute;
            top: 0;
            left: 0;
            width: 90%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            z-index: 999;
        }
        .btn {
            display: inline-block;
            margin: 10px 10px;
            padding: 10px 20px;
            font-size: 1rem;
            color: #e97da4;
            background-color: #ffffff;
            border: none;
            border-radius: 25px;
            cursor: pointer;

            transition: background-color 0.5s ease;
        }

        .btn:hover {
            background-color: #e97da4; /* 호버 시 배경색 변경 */
            color: white;
        }
        .login-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            box-sizing: border-box;
        }
        h2 {
            margin-bottom: 20px;
            color: #e97da4;
            font-size: 15px;
        }
        form ul {
            list-style-type: none;
            padding: 0;
            color: #767676;
            font-size: 12px;
        }
        form li {
            margin-bottom: 15px;
        }
        form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid #dddbdb;
            box-sizing: border-box;
            color: #767676;
        }
        .btn-confirm {
            float: right;
            padding: 5px 10px;
            font-size: 12px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-save {
            width: 100%;
            padding: 10px;
            background-color: #e97da4;
            color: #fff;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            box-sizing: border-box;

            transition: background-color 0.5s ease;
        }
        .btn-confirm:hover, .btn-save:hover {
            background-color: #fff;
            color: #e97da4;
        }
    </style>
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="로고" onclick="navigateToMain()" class="logo">
        <script>
            function navigateToMain() {
                window.location.href = "/";
            }
        </script>
        
        <button class="btn" onclick="navigateToMain()">홈</button>
        <script>
            function navigateToMain() {
                window.location.href = "/";
            }
        </script>
         <button class="btn" onclick="navigateToLogout()">로그아웃</button>
         <script>
             function navigateToLogout() {
                 window.location.href = "/login/logout";
             }
         </script>
          <button class="btn" onclick="navigateToMyPage()">마이페이지</button>
          <script>
              function navigateToMyPage() {
                  window.location.href = "/mypage";
              }
          </script>
    </header>
    <div class="login-container">
        <h2>비밀번호 변경</h2>
        <form action="/mypage/change-pw" method="post">
            <ul>
                <li>현재 비밀번호 <input type="password" name="currentPassword" required></li>
                <li>새 비밀번호 <input type="password" name="newPassword" required></li>
                <li>새 비밀번호 확인 <input type="password" name="newPassword2" required></li>
                <li><button type="submit" class="btn-save">저장</button></li>
            </ul>
        </form>
    </div>
</body>
</html>
