<!DOCTYPE html>
<html lang="en, ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일기 전송 완료!</title>
    <style>
        span {
            color: blue;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>일기 전송 완료!</h1>
</body>
</html>
