<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>임시 메인 페이지</title>
</head>
<body>
    <h1>임시 메인 페이지</h1>
    <%# 여기에 로그인 여부 상관없이 보이는 메뉴 넣으면 될 거 같아요(ex) 일기쓰기 %>
    <% if (id) { %>
        <%= name %>님 환영합니다 | 
        <a href="/login/logout">로그아웃</a>
        <br>
        <% exchangePartners.forEach((partner) => { %>
            <a href="/diaryPage/<%= partner.회원번호 %>"><%= partner.이름 %>과의 교환일기</a>
        <% }); %>
        <br>
        <a href="/diaryPage/my">나에게 보낸 일기</a>
        <br>
        <a href="/diaryAlarm">일기 알람</a>
        <br>
        <a href="/diary/form">form</a>
        <a href="/diary/getform">getform</a>
        <a href="/diary/postform">postform</a>
        <br>
        <a href="/list">친구 관리</a>
    <% } else { %>
        <a href="/signup">회원가입</a>  | 
        <a href="/login">로그인</a>
    <% } %>
</body>
</html>
