* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.logo {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 200px;
    height: auto;
    z-index: 999;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fac4cf;
}

.container {
    width: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    flex: none;
    background-size: cover;
    background-position: center;
}

.profile-pic2 {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    flex: none;
    background-size: cover;
    background-position: center;
}

.username {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
}

.search-container {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    background-color: #fff;
    border-radius: 100px;
}

.search-bar {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #e97da4;
    border-radius: 3px;
    background-color: #fff;
    border-radius: 100px;
}

.search-button {
    padding: 10px;
    width: 100px;
    margin-left: 5px;
    border: none;
    background-color: #e97da4;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.item {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.item:first-child {
    border-top: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.id {
    flex: 1;
    margin-left: 10px;
    font-size: 0.9em;
    
}

.actions {
    display: flex;
    gap: 5px;
}

.action-text {
    padding: 10px 10px;
    border: none;
    background-color: transparent;
    color: black;
    border-radius: 3px;
    cursor: default;
    font-size: 0.8em; /* 폰트 크기 줄이기 */
}

.action-button {
    padding: 5px 10px;
    border: 2px solid #e97da4;
    background-color: #fff;
    color: #e97da4;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.9em; /* 폰트 크기 줄이기 */
    transition: background-color 0.5s ease;
}

.action-button:hover{
    background-color: #e97da4;
    color: white;
}

.btn {
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #e97da4;
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;

    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: #e97da4; /* 호버 시 배경색 변경 */
    color: white;
}