body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.logo {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 200px;
    height: auto;
    z-index: 999;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.profile-section {
    width: 30%;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
    border-right: 1px solid #ddd;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-section h2 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.btn {
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.diary-section {
    width: 70%;
    padding: 20px;
    overflow-x: auto; /* 가로 스크롤을 허용합니다 */
    white-space: nowrap; /* 자식 요소들이 한 줄로 나열되도록 함 */
}

.diary-container {
    justify-content: flex-start; /* flex-start로 변경하여 가로로 나열되도록 함 */
    display: flex; 
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.diary {
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    height: 300px; /* 이미지의 고정 높이 설정 */
    min-width: 30%; /* 최소 너비 지정 */
}

.diary-name {
    position: absolute; /* 부모 요소를 기준으로 위치를 설정합니다 */
    top: 50%; /* 부모 요소의 중앙에 위치하도록 설정합니다 */
    left: 50%; /* 부모 요소의 중앙에 위치하도록 설정합니다 */
    transform: translate(-50%, -50%); /* 중앙에 위치하기 위해 좌표를 보정합니다 */
    color: palevioletred; /* 텍스트 색상을 설정합니다 */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
}

.notification-btn {
    position: relative;
    border: none;
}

.notification-icon {
    width: 40px;
    height: 40px;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diary-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 40px);
}

.diary-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 이미지의 가로 크기를 부모 요소의 150%로 설정합니다 */
    height: 100%; /* 이미지의 높이는 가로 비율에 맞게 조정됩니다 */
    z-index: 1;
    cursor: pointer;
    object-fit: contain; /* 이미지를 부모 요소에 맞추되 원래 비율을 유지합니다 */
}