body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fac4cf;
}

.logo {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 200px;
    height: auto;
    z-index: 999;
}

.container {
    display: flex;
    position: relative;
    width: 70%; /* 가장 큰 사각형의 너비 */
    height: 500px; /* 모든 사각형의 높이 */
    background-color: rgba(255, 255, 255, 0.5);
    border: #ffffff;
    border-radius: 40px;
    overflow: hidden;
}

.box1, .box2, .box3 {
    height: 100%; /* 모든 사각형의 세로 길이를 동일하게 설정 */
    border-radius: 40px;
    position: absolute;
    left: 0;
}

.box1 {
    width: 100%; /* 가장 큰 사각형 */
    background-color: #e97da4;
    z-index: 1; /* 가장 아래에 위치 */

    /* Flexbox를 사용하여 내용 세로 가운데 정렬 */
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: flex-end; /* 수평 끝(우측) 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    
}

.box1-content {
    display: flex;
    flex-direction: column; /* 요소들을 세로로 정렬 */
    align-items: center;
    padding-right: 1.5%;
    position: fixed; /* 상단에 고정 */
    top: 25%; /* 상단에 위치 */
}

.box1-content i{
    margin: 15px 0;
}

.box2 {
    width: 94%; /* 중간 크기의 사각형 */
    background-color: #fdefef;
    text-align: center;
    z-index: 2; /* 중간에 위치 */

    /* Flexbox를 사용하여 내용 세로 가운데 정렬 */
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */

    position: relative; /* 자식 요소의 절대 위치 설정을 위한 상대 위치 설정 */
}

.box2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    position: relative;

    width: 75%;

    position: absolute; /* 절대 위치 설정 */
    top: 0; /* box2의 위쪽과 동일하게 설정 */

}

.box2-content2 {
    display: flex; /* Flexbox로 설정 */
    flex-direction: row; /* 가로 방향으로 요소들을 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 요소들을 가로 방향으로 분산 */
    width: 100%;
    padding: 10px 30px; /* 패딩 추가 */
    box-sizing: border-box; /* 패딩 포함한 크기 설정 */
    position: absolute; /* 절대 위치 설정 */
    top: 10px; /* box2-content의 위쪽과 동일하게 설정 */
}

.diary-container {
    display: flex;
    margin-top: 10%;
    flex-wrap: wrap; /* 넘칠 경우 다음 줄로 이동하도록 설정 */
    justify-content: flex-start;
    width: 100%; /* 컨테이너 전체 너비 사용 */
    height: 400px;
    flex-direction: row; /* 요소들이 좌측에서 우측으로 배치되도록 설정 */
    white-space: nowrap; /* 자식 요소들이 한 줄로 나열되도록 함 */
    overflow: auto;
}

.diary {
    width: 20%; /* 일기가 한 줄에 3개씩 보이도록 너비를 조정합니다 */
    margin: 10px; /* 각 일기 요소 사이의 간격을 조정합니다 */
    position: relative; /* 위치 설정을 위해 relative 사용 */
}

.diary-img {
    width: 100%; /* 이미지가 부모 요소의 너비에 맞게 조정됩니다 */
    height: auto; /* 이미지의 높이는 가로 비율에 맞게 조정됩니다 */
    cursor: pointer;
    object-fit: contain; /* 이미지를 부모 요소에 맞추되 원래 비율을 유지합니다 */
}

.diary-name {
    position: absolute; /* 부모 요소를 기준으로 위치를 설정합니다 */
    top: 45%; /* 부모 요소의 중앙에 위치하도록 설정합니다 */
    left: 50%; /* 부모 요소의 중앙에 위치하도록 설정합니다 */
    font-size: 10px;
    margin-bottom: 10px;
    transform: translate(-50%, -50%); /* 중앙에 위치하기 위해 좌표를 보정합니다 */
    color: palevioletred; /* 텍스트 색상을 설정합니다 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.intro {
    color: #e97da4;
    margin-top: 220px;
}

.hello {
    margin-left: 10px;
    font-size: 16px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    overflow: hidden;
    padding: 10px;
    margin-right: 7%;
    width: 50%;
}

.search-input {
    border: none;
    font-size: 16px;
    outline: none;
    flex: 1;
}


.box3 {
    width: 20%; /* 가장 작은 사각형 */
    background-color: #ffffff;
    z-index: 3; /* 가장 위에 위치 */
    text-align: center;
    padding: 20px;
    box-shadow: none;

    /* Flexbox를 사용하여 내용 세로 가운데 정렬 */
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.box3-content{
    display: block;
    align-items: center;
}



.sidebar {
    width: 80%;
    background-color: #0056b3;

}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #e97da4;
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;

    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: #e97da4; /* 호버 시 배경색 변경 */
    color: white;
}



.btn2 {
    display: block; /* 버튼을 블록 요소로 설정하여 위아래로 배치 */
    width: 150px; /* 버튼 너비 */
    height: 50px; /* 버튼 높이 */
    margin: 10px auto; /* 상하 여백과 가운데 정렬 */
    background-color: white; /* 버튼 배경색 */
    color: #e97da4; /* 버튼 텍스트 색 */
    border: 2px solid #e97da4; 
    
    border-radius: 25px; /* 좌우로 완전히 둥근 모서리 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: 16px; /* 텍스트 크기 */
    cursor: pointer; /* 커서 포인터 설정 */
    transition: background-color 0.5s ease;
    
}

.btn2:hover {
    background-color: #e97da4; /* 호버 시 배경색 변경 */
    color: white;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
}

.notification-btn {
    position: relative;
    border: none;
    background-color: #e97da4; /* 버튼 배경색 */
    border-radius: 10px;
    margin-left: 20px;
}

.notification-icon {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i:hover {
    font-size: 25px !important;
}